body {
  background-color: #242424;
  margin: 0 !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

h1 {
  padding-top: 20px;
  color: #fff;
  font-size: 42px;
  margin-bottom: 0;
}

.counter-container {
  padding: 28px 0px;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
