.counter {
  color: white;
  background-color: #1a1a1a;
  font-size: 16px;
  padding: 10px 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.counter:hover {
  border: 2px solid #06a8c5;
}
